* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: 700;
}
p, a, li, span {
  font-weight: 400;
}
body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  margin: 0;
  padding: 20px;
}

.header {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background: #f3f3f3;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

.header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.carrito {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.carrito h2 {
  text-align: center;
  margin-bottom: 20px;
}

.producto {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.imagen {
  width: 80px;
  height: 80px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.info h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.cantidad {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cantidad button {
  width: 25px;
  height: 25px;
}

.total {
  margin: 20px 0;
  font-weight: bold;
}

.comprar {
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comprar:hover {
  background: #555;
}
