*{
  font-family:"DM Sans",sans-serif;
  font-optical-sizing:auto;
  font-weight:400;
  font-style:normal;
  box-sizing:border-box;
}


body{
  padding:10px;
  background: linear-gradient(135deg, #ffe8e8, #fff3d6, #e4f3ff);
  padding-top:40px;
}


.product-form{
  margin:5px auto 40px;
  background:#fff;
  padding:40px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,.2);
  width:400px;
  text-align:center;
}

.product-form h2{ 
    font-size: 24px;
    margin-bottom: 25px; 
    font-weight: bold;
}


.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="file"],
.formulario select{
  width:90%;
  padding:10px;
  margin:8px 0;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
  outline:none;
}


.product-form fieldset{
  border:none;
  margin:10px 0;
  padding:0;
  text-align:left;
}
.product-form legend{
  font-weight:700;
  margin-bottom:8px;
}
.product-form label{
  margin-right:10px;
  font-size:14px;
  cursor:pointer;
}


#mensaje1,#mensaje2,#mensaje3,#mensaje4,#mensaje5,#mensaje6,#mensaje7,#mensajeGlobal{
  display:block;
  width:90%;
  margin:6px auto 10px;
  color:red;
  font-weight:700;
  font-size:12px;
  text-align:left;
  line-height:1.35;
}


.ingresar{
  width:100%;
  padding:10px;
  background:#000;
  border:none;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  cursor:pointer;
  margin-top:10px;
  transition:background .3s ease;
}
.ingresar:hover{ background:rgb(145,111,67); }


a{ text-decoration:none; color:inherit; }