* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: 700;
}
p, a, li, span {
  font-weight: 400;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f0f0f0;  
}

h1 {
  margin-bottom: 20px;
}

.pedido {
  background: white;       
  border: 1px solid #ccc;  
  border-radius: 5px;      
  padding: 15px;            
  margin-bottom: 15px;      
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
}

.pedido h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #ffffff;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #666;
}