* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: 700;
}
p, a, li, span {
  font-weight: 400;
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f8f8f8;

      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1100px;
      margin: 40px auto;
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);

      flex: 1;
    }

    .product-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .product-info {
      padding: 30px;
    }

    .product-info h1 {
      font-size: 30px;
      margin-bottom: 1px;
      color: #000000;
    }

    .price {
      font-size: 24px;
      color: #000000;
      margin-bottom: 30px;
    }

    .discount {
      color: #2a7b46;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .details {
      font-size: 14px;
      color: #555;
      margin-bottom: 20px;
      line-height: 1.6;
    }

    .options {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    select, input[type="number"] {
      padding: 8px;
      font-size: 14px;
      width: 120px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .btn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 14px 1px;
      background: #000000;
      color: white;
      font-size: 16px;
      text-decoration: none;
      border-radius: 8px;
      margin-top: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      transition: background 0.2s ease;
    }

    .btn:hover {
      background: #6a3c22;
    }
    
    .footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 60px;
      margin-top: auto;

      text-align: center;
      padding: 10px;
      background: #f1f1f1;
      margin-top: 20px;
      font-size: 14px;
      color: #555;
}

.toast-msg {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #111;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 9999;
  font-size: 14px;
}

.toast-msg.show {
  opacity: 1;
  transform: translateY(0);
}
