* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: 700;
}
p, a, li, span {
  font-weight: 400;
}

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000000;
  background: #f9f9f9;
  padding: 30px 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h1 {
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.login-container {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario input {
  padding: 12px 15px;
  border: 1px solid #525252;
  border-radius: 12px;
  font-size: 14px;
}

.ingresar {
  background: #000;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.ingresar:hover {
  background: #6a3c22;
}

#mensaje1,
#mensaje2,
#mensaje3,
.mensaje-error {
  color: red;
  font-weight: 900;
  font-size: 12px;
  text-align: left;
}


.footer {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}
