* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box; 
}

h1, h2, h3, h4 {
    font-weight: 700;
}
p, a, li, span {
    font-weight: 400;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #ffffff;
    padding-top: 40px; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header h1 {
    font-size: 46px;
    margin: 0;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 100px;
    left: -10px;
    z-index: 3;
}

.topnav-left, .topnav-right {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 15px;
    margin-right: 30px;
}

.searchbar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 1px 15px;
    transition: all 0.3s ease;
}

.searchbar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 8px 10px;
    width: 150px;
    font-size: 14px;
    transition: width 0.3s ease;
}

.searchbar button {
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar button:hover {
    background: #e0e0e0;
}

.searchbar .material-symbols-outlined {
    font-size: 20px;
    color: #555;
}

.topnav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.topnav a:hover {
    color: rgb(145, 111, 67);
}

.info {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    padding-top: 140px; 
    margin-bottom: 20px; 
}

.info h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0; 
    text-align: center;
    margin-left: 12px;
}

.filtro {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #000000;
    position: absolute;
    right: 0;
    margin-right: 80px;
    margin-top: 25px;
}

.filtro p {
    font-weight: bold;
    margin: 0;
}

.filtro:hover {
    color: rgb(145, 111, 67);
}

.sidebar {
    position: fixed;
    top: 150px;
    left: -300px;
    width: 220px;
    height: 100%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    padding: 15px;
    z-index: 1;
    border-right: 1px solid #ddd;
}

.sidebar-links a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.sidebar-links ul {
    list-style: none;
    padding: 0;
}

.sidebar-links a:hover {
    background: #f0f0f0;
}

.collection-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.sublist {
    list-style: none;
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sublist li a {
    display: block;
    padding: 8px 0;
    font-size: 15px;
    color: #464646;
    border-bottom: 1px solid #f0f0f0;
}

#collection-toggle:checked ~ .sidebar .sublist {
    max-height: 200px;
}

.menu-btn:hover {
    color: rgb(145, 111, 67);
}

#menu-toggle:checked ~ .sidebar {
    left: 0;
}

.menu-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
}

.catalogo-container {
    padding: 20px;
    padding-top: 50px;
    max-width: 1200px;
    margin: auto;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    margin-top: auto; 
    font-size: 14px;
    color: #555;
    width: 100%;
}



.main-content {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

.login-box {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 40px 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: white;
    width: 100%;
    max-width: 450px;
}

.subtitulo {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#login-form label {
    margin-top: 10px;
    font-weight: 500;
}

#login-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    outline: none;
}

.btn-login {
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-login:hover {
    background-color: #333;
}



.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}
