:root {
  --primario: #222;
  --secundario: #6b7280;
  --fondo: #f9fafb;
  --borde: #e5e7eb;
  --entregado: rgb(145, 111, 67);
  --en-camino: rgb(193, 150, 143);
  --cancelado: rgb(150, 150, 150);
}

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--fondo);
  color: var(--primario);
  padding-bottom: 80px;
}

header {
  background-color: #ffffff;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.filtros {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 10px 16px;
  background: white;
  border-bottom: 1px solid var(--borde);
}

.filtros button {
  background-color: #f3f4f6;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  flex-shrink: 0;
}

.filtros button.activo {
  background-color: var(--primario);
  color: white;
}

.pedido {
  background-color: white;
  margin: 12px 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  display: flex;
  align-items: center;
  gap: 12px;
}

.pedido img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.info {
  flex: 1;
}

.info h3 {
  font-size: 16px;
  font-weight: 600;
}


.info h3 a {
  color: inherit;         
  text-decoration: none;   
  cursor: pointer;         
}

.info h3 a:hover {
  text-decoration: underline; 
}


.pedido h3 a {
  color: var(--primario) !important;      
  text-decoration: none !important;       
  cursor: pointer;
}


.pedido h3 a:hover {
  text-decoration: underline !important;
}



.info p {
  color: var(--secundario);
  font-size: 14px;
  margin-top: 2px;
}

.estado {
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
}

.estado.entregado { background-color: var(--entregado); color: white; }
.estado.en-camino { background-color: var(--en-camino); color: white; }
.estado.cancelado { background-color: var(--cancelado); color: white; }

.total {
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
    font-size: 14px;
    color: #555;
}


footer * {
  margin: 0;
  text-align: center;
}

@media (min-width: 700px) {
  .pedido {
    max-width: 700px;
    margin: 16px auto;
  }
  .filtros {
    justify-content: center;
  }
}