:root {
  --primario: #222;
  --secundario: #6b7280;
  --fondo: #f9fafb;
  --borde: #e5e7eb;
  --entregado: rgb(145, 111, 67);
  --en-camino: rgb(193, 150, 143);
  --cancelado: rgb(150, 150, 150);
  --pendiente: #f3dcbd;
  --preparacion: #6c757d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
.logo-click {
  cursor: pointer;
}


body {
  background-color: var(--fondo);
  color: var(--primario);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
/* TITULO PAGINA */
.titulo-pagina {
  background-color: #ffffff;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  z-index: 5;
  margin-top: 140px; 
}


.filtros {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 10px 16px;
  background: white;
  border-bottom: 1px solid var(--borde);
}

.filtros button {
  background-color: #f3f4f6;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.filtros button.activo {
  background-color: var(--primario);
  color: white;
}


#lista-pedidos {
  flex: 1;
}


.link-pedido {
  text-decoration: none;
  color: inherit;
}


.pedido {
  background-color: white;
  margin: 12px 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: transform .15s ease, box-shadow .15s ease;
}

.pedido:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}


.pedido img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}


.info {
  flex: 1;
}

.info h3 {
  font-size: 16px;
  font-weight: 600;
}

.categoria {
  font-size: 13px;
  font-weight: 500;
  color: var(--secundario);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.fecha {
  font-size: 13px;
  color: var(--secundario);
  margin-top: 2px;
}


.estado {
  margin-top: 6px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 6px;
  padding: 4px 8px;
  display: inline-block;
}

.estado.entregado { background-color: var(--entregado); color: white; }
.estado.camino { background-color: var(--en-camino); color: white; }
.estado.cancelado { background-color: var(--cancelado); color: white; }
.estado.pendiente { background-color: var(--pendiente); color: #222; }
.estado.preparacion { background-color: var(--preparacion); color: white; }


.total {
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}


@media (min-width: 700px) {
  .pedido {
    max-width: 700px;
    margin: 16px auto;
  }

  .filtros {
    justify-content: center;
  }
}
