* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

p, a, li, span {
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #000;
  background: #f9f9f9;
  padding: 30px 15px;
}


.header h1 {
  font-size: 48px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}


.signin-container {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signin-container h2 {
  font-size: 24px;
  margin-bottom: 25px;
}


.formulario form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario input {
  padding: 12px 15px;
  border: 1px solid #525252;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}

.formulario input:focus {
  border-color: #000;
}

#msj_error_email_invalido,
#msj_error_contrasenia_corta,
#msj_error_contrasenia_no_coincide,
#msj_error_campo_incompleto {
  color: red;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  margin-top: -12px;
}


.ingresar {
  background: #000;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.ingresar:hover {
  background: #6a3c22;
}

.footer {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
