{% extends "_layout_flex.html" %}

{% block title %}Mi-Carrito - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
{% endblock %}

{% block header_extra %}{% endblock %}

{% block content %}

<div class="product-grid">

  <div class="product-card">
    <img src="{{ url_for('static', filename='img/top.webp') }}" alt="Product2">
    <h2>Top Ariel</h2>
    <p class="price">$25.000</p>
    <p class="discount">Con transferencia bancaria: $23.500</p>

    <div class="quantity">
      <label for="cantidad1">Cantidad:</label>
      <input type="number" id="cantidad1" name="cantidad1" value="1" min="1">
    </div>

    <button class="remove-btn">
      <span class="material-symbols-outlined">delete</span>
    </button>
  </div>

  <div class="product-card">
    <img src="{{ url_for('static', filename='img/top4.webp') }}" alt="Product1">
    <h2>Top Summer</h2>
    <p class="price">$20.000</p>
    <p class="discount">$18.500 con Transferencia bancaria</p>

    <div class="quantity">
      <label for="cantidad2">Cantidad:</label>
      <input type="number" id="cantidad2" name="cantidad2" value="1" min="1">
    </div>

    <button class="remove-btn">
      <span class="material-symbols-outlined">delete</span>
    </button>
  </div>

  <div class="total">
    <div class="total-card">
      <h2>Total: $45.000</h2>
      <p class="discount-total">Total con descuento por transferencia bancaria: $42.000</p>
    </div>

    <a href="{{ url_for('pago') }}" class="checkout-btn">
      Finalizar compra
    </a>
  </div>

</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/carrito.js') }}" defer></script>
{% endblock %}
