{% extends "_layout_2.html" %}

{% block title %}Mi-Carrito - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
{% endblock %}

{% block header_extra %}{% endblock %}

{% block content %}

<div class="product-grid" id="product-grid">


  {% for p in carrito %}
  <div class="product-card" data-id="{{ p.id }}">

    <img src="{{ url_for('static', filename=p.img) }}" alt="{{ p.nombre }}">

    <h2>{{ p.nombre }}</h2>

    <p class="price">${{ p.precio }}</p>

    <p class="discount">
      Con transferencia bancaria: ${{ p.precio_transferencia }}
    </p>

    <div class="quantity">
      <label>Cantidad:</label>
      <input type="number" class="cantidad" value="{{ p.cantidad }}" min="1">
    </div>

    <button class="remove-btn">
      <span class="material-symbols-outlined">delete</span>
    </button>

  </div>
  {% endfor %}

  <div class="total">
    <div class="total-card" id="total-carrito">

      <h2>Total: ${{ total }}</h2>
      <p class="discount-total">
        Total con descuento por transferencia bancaria: ${{ total_transferencia }}
      </p>
    </div>

    <a href="{{ url_for('pago') }}" class="checkout-btn">
      Finalizar compra
    </a>
  </div>

</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
{% endblock %}


