{% extends "_layout_2.html" %}

{% block title %}Catalogo - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Catalogo.css') }}">
{% endblock %}

{% block content %}

<div class="info">
  <h1>New In</h1>
  <div class="filtro">
    <span class="material-symbols-outlined">filter_list</span>
    <p>Filtros</p>
  </div>
</div>

<div class="catalogo-container">
  <div class="product-grid">

    {% for p in productos %}
    <a href="{{ url_for('detalles') }}?id={{ p.id }}" class="product-card">
      <img src="{{ url_for('static', filename='img/' ~ p.img) }}" alt="{{ p.nombre }}">
      <div class="product-info">
        <h3>{{ p.nombre }}</h3>
        <p class="price">${{ "{:,.0f}".format(p.precio) }}</p>
      </div>
    </a>
    {% endfor %}
  </div> 
</div>

{% endblock %}
