{% extends "_layout_2.html" %}

{% block title %}Catalogo - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Catalogo.css') }}">
{% endblock %}

{% block content %}

<div class="info">
  <h1>New In</h1>
  <div class="filtro">
    <span class="material-symbols-outlined">filter_list</span>
    <p>Filtros</p>
  </div>
</div>

<input type="checkbox" id="carrito-toggle" hidden>

<aside class="sidebar-carrito">
  <div class="carrito-productos">
    <h3>Mi Carrito</h3>

    <div class="producto-info">
      <img src="{{ url_for('static', filename='img/top.webp') }}" alt="producto1">
      <ul>
        <li><h4>Top Ariel</h4></li>
        <li>$25.000</li>
      </ul>
      <button class="eliminar-btn">
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>

    <div class="producto-info">
      <img src="{{ url_for('static', filename='img/product4.webp') }}" alt="producto2">
      <ul>
        <li><h4>Top Summer</h4></li>
        <li>$20.000</li>
      </ul>
      <button class="eliminar-btn">
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
  </div>

  <div class="carrito-footer">
    <div class="total">
      <span>Total:</span>
      <span>$45.000</span>
    </div>
    <button>Finalizar Compra</button>
  </div>
</aside>

<div class="catalogo-container">
  <div class="product-grid">

    {% for p in productos %}
    <a href="{{ url_for('detalles') }}?id={{ p.id }}" class="product-card">
      <img src="{{ url_for('static', filename='img/' ~ p.img) }}" alt="{{ p.nombre }}">
      <div class="product-info">
        <h3>{{ p.nombre }}</h3>
        <p class="price">${{ "{:,.0f}".format(p.precio) }}</p>
      </div>
    </a>
    {% endfor %}
  </div> 
</div>

{% endblock %}
