{% extends "_layout_flex.html" %}

{% block title %}Catalogo - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Catalogo.css') }}">
{% endblock %}

{% block content %}

<div class="info">
  <h1>New In</h1>
  <div class="filtro">
    <span class="material-symbols-outlined">filter_list</span>
    <p>Filtros</p>
  </div>
</div>

<input type="checkbox" id="carrito-toggle" hidden>

<aside class="sidebar-carrito">
  <div class="carrito-productos">
    <h3>Mi Carrito</h3>

    <div class="producto-info">
      <img src="{{ url_for('static', filename='img/top.webp') }}" alt="producto1">
      <ul>
        <li><h4>Top Ariel</h4></li>
        <li>$25.000</li>
      </ul>
      <button class="eliminar-btn">
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>

    <div class="producto-info">
      <img src="{{ url_for('static', filename='img/product4.webp') }}" alt="producto2">
      <ul>
        <li><h4>Top Summer</h4></li>
        <li>$20.000</li>
      </ul>
      <button class="eliminar-btn">
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
  </div>

  <div class="carrito-footer">
    <div class="total">
      <span>Total:</span>
      <span>$45.000</span>
    </div>
    <button>Finalizar Compra</button>
  </div>
</aside>

<div class="catalogo-container">
  <div class="product-grid">

    <a href="{{ url_for('detalles') }}" class="product-card">
      <img src="{{ url_for('static', filename='img/top1.jpeg') }}" alt="Top Shore">
      <div class="product-info">
        <h3>Top Shore</h3>
        <p class="price">$25.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top2.jpeg') }}" alt="Body Bay">
      <div class="product-info">
        <h3>Body Bay</h3>
        <p class="price">$30.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top3.webp') }}" alt="Top Pearl">
      <div class="product-info">
        <h3>Top Pearl</h3>
        <p class="price">$24.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top4.webp') }}" alt="Top Shelly">
      <div class="product-info">
        <h3>Top Shelly</h3>
        <p class="price">$32.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top1.jpeg') }}" alt="Top Shore">
      <div class="product-info">
        <h3>Top Shore</h3>
        <p class="price">$25.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top2.jpeg') }}" alt="Body Bay">
      <div class="product-info">
        <h3>Body Bay</h3>
        <p class="price">$30.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top3.webp') }}" alt="Top Pearl">
      <div class="product-info">
        <h3>Top Pearl</h3>
        <p class="price">$24.000</p>
      </div>
    </a>

    <a href="#" class="product-card">
      <img src="{{ url_for('static', filename='img/top4.webp') }}" alt="Top Shelly">
      <div class="product-info">
        <h3>Top Shelly</h3>
        <p class="price">$32.000</p>
      </div>
    </a>

  </div>
</div>

{% endblock %}
