{% extends "_layout_flex.html" %}

{% block title %}
Lista de pedidos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Lista_de_Pedidos.css') }}">
{% endblock %}

{% block content %}
<div class="contenedor">
  {% for p in pedidos %}
    <div class="pedido">
      <h3>Pedido número: {{ p.id }}</h3>
      <p><b>Cliente:</b> {{ p.nombre }} {{ p.apellido }}</p>
      <p><b>Fecha:</b> {{ p.fechahora.strftime('%d/%m/%Y') }}</p>
      <p><b>Total:</b> ${{ p.total }}</p>
      <p><b>Estado:</b> {{ p.estado }}</p>

      <a href="{{ url_for('detalle_pedido', id=p.id) }}" class="btn">
        Ver detalle
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/Lista_de_Pedidos.js') }}"></script>
{% endblock %}