{% extends "_layout_flex.html" %}

{% block title %}Catálogo{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagAdmin.css') }}">
{% endblock %}

{% block content %}
    <div class="info">
        <h1>Productos</h1>
        <div class="filtro">
            <span class="material-symbols-outlined">filter_list</span>
            <p>Filtros</p>
        </div>
    </div>

    <div class="catalogo-container">
        <div class="product-grid">
        {% for p in productos %}
        <a href="{{ url_for('editar_producto', id=p.id) }}" class="product-card">
            <img src="{{ url_for('static', filename='img/' ~ p.img) }}">
            <div class="product-info">
                <h3>{{ p.nombre }}</h3>
                <button class="detalle-btn">Editar</button>
            </div>
        </a>
        {% endfor %}
        </div>

    </div>
{% endblock %}
