{% extends "_layout_2.html" %}

{% block title %}Pagina Principal - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/PPrincipal.css') }}">
{% endblock %}

{% block content %}

<div class="Image-gallery">
  <img src="{{ url_for('static', filename='img/product 1.webp') }}" alt="imagen1">
  <img src="{{ url_for('static', filename='img/product2.webp') }}" alt="imagen2">
  <img src="{{ url_for('static', filename='img/product3.webp') }}" alt="imagen3">

</div>

<div class="info">
  <h1>6 cuotas sin interes</h1>
  <p>superando los $150.000</p>
  <h3>Envios gratis</h3>
</div>

<div class="extra-info">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="{{ url_for('static', filename='img/camion.png') }}" alt="camion">
    </div>

    <div class="mySlides fade">
      <img src="{{ url_for('static', filename='img/extra.png') }}" alt="extra">
    </div>

    <div class="mySlides fade">
      <img src="{{ url_for('static', filename='img/Tarjeta.png') }}" alt="tarjeta">
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/PPrincipal.js') }}" ></script>
{% endblock %}
