{% extends "_layout_clean.html" %}

{% block title %}Crear cuenta - COAST{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}

<div class="header">
  <h1 onclick="window.location.href='/'" style="cursor: pointer;">COAST</h1>
</div>

<div class="signin-container">
  <h2>Crear una cuenta</h2>

  <div class="formulario">
    <form id="Signin" action="/signin" method="POST" >
      <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre de Usuario">

      <input type="text" name="nombre" id="nombre" placeholder="Nombre">

      <input type="text" name="apellido" id="apellido" placeholder="Apellido">

      <input type="email" name="email" id="email" placeholder="Correo electrónico">
      <span id="msj_error_email_invalido"></span>

      <input type="number" name="dni" id="dni" placeholder="Número de DNI">

      <input type="text" name="direccion" id="direccion" placeholder="Dirección">
    
      <input type="password" name="password" id="password" placeholder="Contraseña">
      <span id="msj_error_contrasenia_corta"></span>

      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña">
      <span id="msj_error_contrasenia_no_coincide"></span>

      <button type="submit" class="ingresar">Registrarse</button>
      <span id="msj_error_campo_incompleto"></span>
    </form>
  </div>
</div>

<div class="footer">
  <p>&copy; 2025 COAST. Todos los derechos reservados.</p>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/sin2.js') }}"></script>
{% endblock %}
